version: '2'
services:
  timecapsule:
    image: mbentley/timemachine:smb
    restart: always
    network_mode: host
    volumes:
      - /data/timemachine:/opt/timemachine
    environment:
      - TM_USERNAME=timemachine
      - TM_GROUPNAME=timemachine
      - PASSWORD=timemachine
      - TM_UID=1000
      - TM_GID=1000
      - SET_PERMISSIONS=false
      - VOLUME_SIZE_LIMIT=500 G
    tmpfs:
     - /run/samba
    healthcheck:
      test: ["CMD-SHELL", "smbclient -L localhost -U % -m SMB3 || exit 1"]
      interval: 60s
      timeout: 10s
      retries: 3
      start_period: 30s